body
{
    background-color: bisque;

}
#use
{
    border: black 5px;
    background-color: aliceblue;
    text-align: center;
    padding: 10px;
}
#j2
{
    border: black 5px;
    background-color: blue;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
}
#j1
{


border: black 5px;
background-color: red;
    text-align: center;
    text-underline: none;
    font-size: 20px;
    padding: 10px;
}